@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

$path: "/fonts/bc_somebay";

@font-face {
  font-family: "Behind Content";
  font-weight: bold;
  src: url("#{$path}/woff2/BehindContent-Bold.woff2") format("woff2"),
  url("#{$path}/woff/BehindContent-Bold.woff") format("woff");
}

@font-face {
  font-family: "Behind Content";
  font-weight: normal;
  src: url("#{$path}/woff2/BehindContent-Normal.woff2") format("woff2"),
  url("#{$path}/woff/BehindContent-Normal.woff") format("woff");
}

@font-face {
  font-family: "Behind Content";
  font-weight: 500;
  src: url("#{$path}/woff2/BehindContent-Medium.woff2") format("woff2"),
  url("#{$path}/woff/BehindContent-Medium.woff") format("woff");
}